.top-page {
    width: 100%;
    background-color: #5FC2C9;
}

.View-Photos {
    width: 150px;
    height: 150px;
    background-color: #2EEBF8;
}

.Upload-Photos {
    width: 150px;
    height: 150px;
    background-color: #2EEBF8;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px
}

.carousel.slide {
    width: 300px;
    display: flex;
    margin: auto;
    position: relative;
}

